# .devcontainer/docker-compose.yml

services:
  web:
    image: mcr.microsoft.com/devcontainers/typescript-node:20-bookworm
    volumes:
      - ..:/workspaces
      - web_node_modules_vol:/workspaces/web/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - ../web/.env.local
    command: sleep infinity
    user: node
    depends_on:
      - db

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    # ports:  # ←ホストからDB触らないなら不要
    #   - "5432:5432"

volumes:
  web_node_modules_vol:
  pgdata: